<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>HomePage</title>
    </head>
    <body>
        <h1>Home</h1>
        <% if (currentUser) { %>
            <p>Welcome <%= currentUser.first_name %></p>
            <a href="/create-message">Create Message</a>
            <a href="/log-out">Logout</a>
        <% } else { %>
            <a href="/log-in">Log In</a>
            <a href="/sign-up">Sign Up</a>
        <% } %>
        <h1>Messages</h1>
        <% messages.forEach(msg => { %>
            <div>
                <h3><%= msg.title %></h3>
                <p><%= msg.text %></p>
                <% if (currentUser && currentUser.is_member) { %>
                    <p>By: <%= msg.first_name %> <%= msg.last_name %></p>
                    <p><%= msg.created_at %></p>
                <% } else { %>
                    <p>Anonymous</p>
                <% } %>
            </div>
        <% }) %>
    </body>
</html>